.text--inherit {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit; }

.text--page-heading {
  font-size: 28;
  line-height: 36;
  letter-spacing: 0.1; }

.text--section-heading {
  font-size: 24;
  line-height: 32;
  letter-spacing: 0.15; }

.text--list-heading {
  font-size: 24;
  line-height: 35; }

.text--item-heading {
  font-size: 18;
  line-height: 24; }

.text--category-heading {
  font-size: 12;
  line-height: 18; }

.text--body {
  font-size: 18;
  line-height: 26; }

.text--small {
  font-size: 15;
  line-height: 20; }
