/// List of all colors for the app
/// @group colors
$colors-map: (
  "black": #000,
  "white": #fff,
  "gray": #aaa,
  "blue": #00f,
  "green": #0f0,
  "red": #f00,
) !default;

/// Default color for text
/// @group colors
$text-color-default: "black" !default;

/// List of all text color names
/// @group colors
$text-color-names: ("black", "white", "blue") !default;

/// Default color for the background
/// @group colors
$background-color-default: "white" !default;

/// List of all background color names
/// @group colors
$background-color-names: ("black", "white", "blue") !default;
