/// Default typography dimension, from map
/// @group typography
$typography-dimension-default: "inherit" !default;

/// Map of all typography dimensions, by name.
/// Includes `font-size`, `line-height`, & `letter-spacing`.
/// Also includes overrides at 'breakpoints'.
/// @group typography
$typography-dimensions-map: (
  "inherit": (
    "font-size": inherit,
    "line-height": inherit,
    "letter-spacing": inherit,
  ),
  "page-heading": (
    "font-size": 28,
    "line-height": 36,
    "letter-spacing": 0.1,
    breakpoints: (
      "medium": (
        "font-size": 36,
        "line-height": 44,
      ),
      "large": (
        "font-size": 42,
        "line-height": 50,
      ),
    ),
  ),
  "section-heading": (
    "font-size": 24,
    "line-height": 32,
    "letter-spacing": 0.15,
    breakpoints: (
      "medium": (
        "font-size": 28,
        "line-height": 40,
        "letter-spacing": 0.2,
      ),
    ),
  ),
  "list-heading": (
    "font-size": 24,
    "line-height": 35,
  ),
  "item-heading": (
    "font-size": 18,
    "line-height": 24,
  ),
  "category-heading": (
    "font-size": 12,
    "line-height": 18,
  ),
  "body": (
    "font-size": 18,
    "line-height": 26,
  ),
  "small": (
    "font-size": 15,
    "line-height": 20,
  ),
) !default;

/// List of all typography dimension names.
/// Helpful when looping thru them all, i.e. in a mixin.
/// @group typography
$typography-dimensions-names: map-keys($typography-dimensions-map) !default;

/// Default font family name
/// @group typography
$font-family-default: "inherit" !default;

/// Sans-serif font family stack
/// @group typography
$font-family-sans: (Arial, sans-serif) !default;

/// Serif font family stack
/// @group typography
$font-family-serif: (Georgia, serif) !default;

/// Mono font family stack
/// @group typography
$font-family-mono: "Courier New" !default;

/// Map of font families, by name
/// @group typography
$font-families-map: (
  "inherit": inherit,
  "sans": $font-family-sans,
  "serif": $font-family-serif,
  "mono": $font-family-mono,
) !default;

/// Default font weight name
/// @group typography
$font-weight-default: "inherit" !default;

/// Map of font weights, by name
/// @group typography
$font-weights-map: (
  "inherit": inherit,
  "thin": 100,
  "light": 300,
  "normal": 400,
  "medium": 500,
  "bold": 700,
  "black": 900,
) !default;
